node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.graphifyignore
.graphify_ast_extract.py
.graphify_merge_extract.py
graphify-out
.claude
.agents
test
*.log
*.md
.zip
scripts/*.sql
